
p            { margin: 0; padding: 0}
a            { text-decoration: none }
a:link {color: rgb(140,0,0)}
a:visited {color: rgb(140,0,0)}
a:hover {color: rgb(140,0,0)}
a:focus {color: rgb(140,0,0)}
a:active     {color: rgb(140,0,0)}
body {background: rgb(255,255,195); color: rgb(0,0,0)}
td           { border: 0; border-collapse: collapse}
hr     {width: 75pt;padding-left: 5}

td.vr {padding: 3}

td.side {background: rgb(155,205,255); text-align: center; border: 0;
padding:0; padding-top :8}
div.side p {padding:3}
div.side p.super {text-align: left; margin-left:5 ; padding-bottom:5 }
div.side div.sub p {text-align: right; margin-right: 7; padding:3}
div.side p.feedback {font-family: "new century schoolbook", serif;
font-size: 70%; padding:5}

td.top {background: rgb(50,100,205); color: rgb(255,255,195)}
div.top p { font-family: "new century schoolbook", serif; font-size: 130%; 
padding: 8; padding-left:12}

td.main {padding-top:8}

div.main p.bold {font-family: "new century schoolbook", serif; font-weigth: bold; font-size: 120%; padding-bottom:3; padding-top:3}

div.spaceparagraphs p { margin: 0; padding: 0; padding-bottom: 7}








